<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="description"
    content="We are an indie software studio based in Hong Kong, and we strive to create top-notch softwares that can improve teaching and learning using the latest technology."
  />
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= name %></title>
    <link
      href="https://fonts.googleapis.com/css?family=Rubik:300,500,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Hello World.</h1>
    <p class="subtitle">Welcome to <%= title %></p>
    <p>
      <%= title %> is an indie software studio based in Hong Kong. Our focus is
      on developing education technology that can improve learning and teaching.
      We strive to make education chill for everyone.
    </p>
  </body>
</html>
